.vscode
**venv/
**.venv/
*.env

scripts/shunit2-2.1.6

crawlers/ecolex/jurisprudence/*
!crawlers/ecolex/jurisprudence/.*
crawlers/ecolex/legislation/*
!crawlers/ecolex/legislation/.*
crawlers/ecolex/treaty/*
!crawlers/ecolex/treaty/.*
crawlers/ecolex/treaty decisions/*
!crawlers/ecolex/treaty decisions/.*
crawlers/ecolex/literature/*
!crawlers/ecolex/literature/.*

crawlers/eurlex/files/*
!crawlers/eurlex/files/.*
crawlers/eurlex/celex_nums/*

crawlers/eurlex/celex_nums/*
crawlers/eurlex!celex_nums/.*

crawlers/eurlex/files/*

**__pycache__/
**.__pycache__/
